body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6f9;
    display: flex;
}


/* SIDEBAR */

.sidebar {
    width: 240px;
    height: 100vh;
    background: #1b5e20;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    position: fixed;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav li {
    margin: 15px 0;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 12px 15px;
    display: block;
    border-radius: 10px;
    font-size: 15px;
    transition: .3s;
}

.nav li.active a,
.nav a:hover {
    background: #64dd17;
    color: #000;
}

.logout {
    margin-top: auto;
    text-align: center;
}

.logout a {
    color: #ffcccc;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}


/* MAIN CONTENT */

.main {
    margin-left: 260px;
    padding: 40px;
    width: calc(100% - 260px);
    min-height: 80vh;
    background: #f1f4f7;
}

header h2 {
    margin: 0;
    font-size: 28px;
    color: #1b5e20;
}

header p {
    color: #555;
    margin-top: 5px;
}

.subtitle {
    font-size: 12px;
    margin-top: -40px;
    opacity: 0.8;
    margin-bottom: 25px;
    text-align: center;
}

.logout {
    margin-top: 100px;
}

.logout button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #c62828;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.logout button:hover {
    background: #b71c1c;
}


/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    text-align: center;
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin: 0;
    color: #2e7d32;
    font-size: 18px;
}

.count {
    font-size: 40px;
    font-weight: bold;
    color: #1b5e20;
    margin: 15px 0;
}

.card a {
    color: #1b5e20;
    text-decoration: none;
    font-weight: 600;
}